**target
**/Cargo.lock
**/*.rs.bk

public/bin
public/pkg
wasm-pack.log

**/*.min.js
**/*.min.css
**/*.min.html

.idea
.vscode

**/bulma
public/static/res/css
venv
server/build

**/*.pem
**/*.key
**/*.csr
**/*.crt
**/*.srl
**/*.ext

**.env
**/*.env