<!DOCTYPE html>
<html lang="html5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Mighty</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/res/css/style.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="title">Web Mighty</h1>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-dark" href="https://github.com/buttercrab/web-mighty">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-size-2">
                        Home
                    </h1>
                </div>
            </div>
            <div class="level-right">
                <span class="icon is-medium">
                    <i class="fas fa-cog fa-2x"></i>
                </span>
            </div>
        </nav>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-success vertical-flex">
                    <div class="content">
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <p class="title">Play</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <span class="icon-text">
                                        <span class="icon"><i class="fas fa-plus"></i></span>
                                        <span class="subtitle">Create</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="scroll">
                            <table class="table is-striped is-success">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Name</th>
                                    <th>Rules</th>
                                    <th>Participants</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>14</th>
                                    <td>Anyone join this room!!</td>
                                    <td>GSHS</td>
                                    <td>4/5</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>
            </div>
            <div class="tile is-vertical is-4 is-parent">
                <article class="tile is-child notification is-warning">
                    <p class="title">Your profile</p>
                    <article class="media">
                        <figure class="image is-64x64 media-left">
                            <img src="res/assets/account_circle-24px.svg" alt="profile_image" class="is-center">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p class="subtitle">
                                    blah blah
                                </p>
                            </div>
                        </div>
                    </article>
                </article>
                <article class="tile is-child notification is-info">
                    <p class="title">Mighty rank</p>
                    <p class="subtitle">Who's the MIGHTY?</p>
                    <div class="scroll">
                        <table class="table is-striped is-info">
                            <thead>
                            <tr>
                                <th>Rank</th>
                                <th>User</th>
                                <th>points</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>1</th>
                                <td>Username and profile image on the left.. WIP</td>
                                <td>512</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
</body>
</html>
