<!DOCTYPE html>
<html lang="html5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Mighty</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<!--    <link rel="stylesheet" href="/res/css/style.css">-->
    <script src="/res/js/main.js" type="text/javascript"></script>
</head>
<body>
<div class="content">
    <div class="container-1">
        <h1 class="title item">
            Web Mighty
        </h1>
        <span class="icon">
            <i class="fas fa-cog"></i>
        </span>
    </div>
    <div class="container-2">
        <div class="button is-primary item">
            <p class="wrap">Play</p>
        </div>
        <div class="button is-primary item">
            <p class="wrap">Enter Room</p>
        </div>
    </div>
</div>
</body>
</html>
