<!DOCTYPE html>
<html lang="html5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Mighty</title>
    <script src="/res/js/pre-register-complete.js" type="text/javascript"></script>
</head>
<body>
<div class="content">
    <div class="upper-wrap">

    </div>
    <div class="middle-wrap">
        <div class="title-wrap">
            <div class="title">
                Register
            </div>
        </div>
    </div>
    <div class="lower-wrap">
        <div class="main-wrap">
            <p>λ§μ§€λ§‰ λ‹¨κ³„κ°€ λ‚¨μ•μµλ‹λ‹¤ π‰</p>
            <p>λ©”μΌν•¨μ„ ν™•μΈν•΄μ£Όμ„Έμ”!</p>
            <p>λ©”μΌλ΅ λ³΄λ‚΄μ§„ νμ΄μ§€λ΅ κ°€μ„ νμ›κ°€μ…μ„ λ§λ¬΄λ¦¬ ν•μ„Έμ”. π‘‹</p>
        </div>
    </div>
    <div class="footer-wrap">

    </div>
</div>
</body>
</html>
