<!DOCTYPE html>
<html lang="html5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Mighty</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="res/css/style.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="title">Web Mighty</h1>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-dark" href="https://github.com/buttercrab/web-mighty">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                        <span>GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="section">
    <div class="container">
        <h1 class="title is-size-2">Settings</h1>
        <div class="tabs">
            <ul>
                <li class="is-active"><a>Profile</a></li>
                <li><a>Security</a></li>
                <li><a>Friends</a></li>
                <li><a>Custom Settings</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
