@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$family-sans-serif: "Raleway", sans-serif;

$dark-blue: #21243d;
$light-pink: #ff7c7c;
$yellow: #ffd082;
$light-blue: #88e1f2;
$blue: #3298dc;
$beige: #e8e6da;
$green: #48c774;

$primary: $dark-blue;
$link: $light-pink;
$dark: hsl(0, 0%, 48%);
$light: hsl(0, 0%, 80%);
$grey-light: $beige;
$footer-background-color: $light;
$info: $blue;
$success: $green;
$input-focus-border-color: $dark;

$_colors: (
        "primary": $primary,
        "link": $link,
        "dark": $dark,
        "light": $light,
        "info": $info,
        "success": $success,
);

@function color-below($color) {
  @if lightness($color) > 40 {
    @return darken($color, 20%);
  } @else {
    @return lighten($color, 15%);
  }
}

@each $color_name, $color in $_colors {
  .button.is-#{$color_name} {
    transition: 0.2s ease-out;
    box-shadow: 0 0 color-below($color) !important;
  }

  .button.is-#{$color_name}:hover, .button.is-#{$color_name}:hover:focus {
    transform: translateY(-10px);
    box-shadow: 0 10px color-below($color) !important;
  }

  .button.is-#{$color_name}:active, .button.is-#{$color_name}:active:focus {
    transform: translateY(-5px);
    box-shadow: 0 5px color-below($color) !important;
  }
}

.is-horizontal-center {
  justify-content: center;
}

.box-is-primary {
  $box-background-color: $primary;
}

.is-success.table {
  background-color: $success !important;
  color: #fff !important;
}

.is-info.table {
  background-color: $info !important;
  color: #fff !important;
}

.tab {
  margin-left: 30px;
}

.tab-small {
  margin-left: 20px;
}

.scroll {
  overflow-y: auto;
}

.scrollable-tile {
  min-height: 0 !important;
}

#chat_area {
  margin-bottom: 0 !important;
  padding: 1rem !important;
  height: 80%;
}

aside {
  width: 25%;
  float: right;
}

@import "../bulma/bulma.sass";
