$prussian-blue: #122a40;
$blue-jeans: #53a7df;
$pale-cer: #9ec8e6;
$red-orange-color-wheel: #ff4000;
$melon: #ffa69e;

$light-pink: #ff7c7c;
$yellow: #ffd082;
$blue: #3298dc;
$beige: #e8e6da;
$green: #48c774;
$ivory: #fffff0;
$dark-brown: #1c1c17;

$primary: $blue-jeans;
$link: $melon;
$dark: $prussian-blue;
$light: $pale-cer;
$danger: $red-orange-color-wheel;
$info: $blue;
$success: $green;

$_colors: (
  "primary": $primary,
  "link": $link,
  "dark": $dark,
  "light": $light,
  "info": $info,
  "success": $success,
);

@function pillar-color($color) {
  @if lightness($color) > 40 {
    @return darken($color, 20%);
  } @else {
    @return lighten($color, 20%);
  }
}

@function findColorInvert($color) {
  @if lightness($color) > 40 {
    @return rgba(#000, 0.7);
  } @else {
    @return #fff;
  }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
