@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "NEXON Lv2 Gothic Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1100-11FF, U+3000-303F, U+3130-318F, U+3200-32FF, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF, U+FF00-FFEF;
}

$font-sans-serif: "Cabin", sans-serif;
$korean: "NEXON Lv2 Gothic Light";
