@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$family-sans-serif: "Raleway", sans-serif;

$dark-blue: #21243d;
$light-pink: #ff7c7c;
$yellow: #ffd082;
$light-blue: #88e1f2;
$beige: #E8E6DA;

$primary: $dark-blue;
$link: $light-pink;
$dark: hsl(0, 0%, 48%);
$light: hsl(0, 0%, 80%);
$grey-light: $beige;
$footer-background-color: $light;

@import "../../bulma/bulma.sass";
