@charset "utf-8";

@import "./modules/common.scss";

html,
body {
  font-family: $font-sans-serif, $korean;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: ivory;
}

.content {
  padding: 3rem 15rem 0 15rem;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.subtitle {
  text-align: left;
  font-size: 2rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}


.container-1 {
  display: flex;
  justify-content: space-between;
}

.outer-box {
  margin-bottom: auto;
  background-color: $primary;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  padding: 20px;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.inner-box {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 800px;
}
