@charset "utf-8";

@import "./modules/common.scss";

html,
body {
  font-family: $font-sans-serif, $korean;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: ivory;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.content {
  padding: 3rem 15rem 0 15rem;
}

.container-1 {
  display: flex;
  justify-content: space-between;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 5rem;
}

.button {
  width: 20rem;
  height: 30rem;
  font-size: 3rem;
  text-align: center;

  .wrap {
    margin-top: 2rem;
  }
}
